<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: 'AFV Adoption Home'}) %>
    <link rel="stylesheet" href="/styles/fishDetails.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div>
        <section class="petsList">
            <h2>Pets</h2>
             <ul class="pet-grid">
                <li>
                    <figure>
                        <img src="<%= Fish.photo %>">
                    </figure>
                    <figcaption>
                        <div class="featured-info">
                            <h3><%= fish.Name %></h3>
                            <p class="describe"><%= fish.Description %></p>
                        </div>
                    </figcaption>
                </li>
            </ul> 
        </section>
        <section class="actions">
            <button class="btn" id="edit"><a href="/fishRoutes/<%= fish._id %>/edit">Edit</a></button>
            <form method="POST" action="/fishRoutes/<%= Fish._id %>?_method=UPDATE">
                <button class="btn" id="submit"><a href="/fishRoutes/<%= fish._id %>/edit">Purchase</a></button>
                <form method="POST" action="/fishRoutes/<%= Fish._id %>?_method=POST">
                    <button class="btn" id="delete"><a href="/fishRoutes/<%= fish._id %>/edit">Delete</a></button>
                    <form method="POST" action="/fishRoutes/<%= Fish._id %>?_method=DELETE">
            </form>
        </section>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
