<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: 'AFV Adoption Home'}) %>
    <link rel="stylesheet" href="/styles/fish-index.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="listings">
            <h1>Available Pets</h1>
            <ul>
                <% for (let fish of Fish) { %>
                <li>
                    <figure>
                        <img src="<%= fish.photo %>">
                        <figcaption>
                            <h4><%= fish.name %></h4>
                        </figcaption>
                    </figure>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
